<div class="col">
  <div class="card text-center p-3 border bg-light">
    <div class="card-body">
      <h5 class="card-title">{{this.username}}</h5>
      <p class="card-text">bio here</p>
      <a href="/users/{{this._id}}" class="btn btn-primary">Visit Profile</a>
    </div>
  </div>
</div>
