<title>Reddit</title>

<div class="container">
  <h3 class="text-center">r/{{ category }}</h3>

  <a href="/posts/new">Add post to category</a>
  <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
    {{> posts}}
  </div>
</div>
